In [29]:
import pandas as pd

In [30]:
data_file = 'https://raw.githubusercontent.com/justmarkham/pandas-videos/master/data/ufo.csv'

In [31]:
ufos = pd.read_csv(data_file)

In [32]:
ufos.head()

                   City Colors Reported Shape Reported State             Time
0                Ithaca             NaN       TRIANGLE    NY   6/1/1930 22:00
1           Willingboro             NaN          OTHER    NJ  6/30/1930 20:00
2               Holyoke             NaN           OVAL    CO  2/15/1931 14:00
3               Abilene             NaN           DISK    KS   6/1/1931 13:00
4  New York Worlds Fair             NaN          LIGHT    NY  4/18/1933 19:00

In [33]:
ufos.shape

(18241, 5)

In [34]:
ufos.drop('Colors Reported',
          axis=1,  # axis 0 is row axis, axis 1 is column axis
          inplace=True)

In [35]:
ufos.shape

(18241, 4)

In [36]:
ufos.drop(['City', 'State'],
          axis=1,
          inplace=True)

In [37]:
ufos.shape

(18241, 2)

In [38]:
ufos.head()

  Shape Reported             Time
0       TRIANGLE   6/1/1930 22:00
1          OTHER  6/30/1930 20:00
2           OVAL  2/15/1931 14:00
3           DISK   6/1/1931 13:00
4          LIGHT  4/18/1933 19:00

### Dropping rows (not columns)

In [39]:
ufos.drop([0, 1],
          axis=0,  # this is the default value, but good practice to always specify it
          inplace=True)

In [40]:
ufos.head()

  Shape Reported             Time
2           OVAL  2/15/1931 14:00
3           DISK   6/1/1931 13:00
4          LIGHT  4/18/1933 19:00
5           DISK  9/15/1934 15:30
6         CIRCLE   6/15/1935 0:00

In [41]:
ufos.shape

(18239, 2)

In [42]:
ufos.drop(2,
          axis=0,
          inplace=True)

In [43]:
ufos.shape

(18238, 2)

In [44]:
ufos.head()

  Shape Reported             Time
3           DISK   6/1/1931 13:00
4          LIGHT  4/18/1933 19:00
5           DISK  9/15/1934 15:30
6         CIRCLE   6/15/1935 0:00
7           DISK   7/15/1936 0:00