In [1]:
import pandas as pd

## Reading only certain columns during import with `usecols` argument

In [11]:
data_file = 'https://raw.githubusercontent.com/justmarkham/pandas-videos/master/data/ufo.csv'
ufos = pd.read_csv(data_file)

In [12]:
ufos.head()

                   City Colors Reported Shape Reported State             Time
0                Ithaca             NaN       TRIANGLE    NY   6/1/1930 22:00
1           Willingboro             NaN          OTHER    NJ  6/30/1930 20:00
2               Holyoke             NaN           OVAL    CO  2/15/1931 14:00
3               Abilene             NaN           DISK    KS   6/1/1931 13:00
4  New York Worlds Fair             NaN          LIGHT    NY  4/18/1933 19:00

### Method 1: `usecols=[<col_name_strs>]`

In [13]:
ufos.columns

Index(['City', 'Colors Reported', 'Shape Reported', 'State', 'Time'], dtype='object')

In [14]:
ufos = pd.read_csv(data_file,
                   usecols=['City', 'State'])

In [15]:
ufos.columns

Index(['City', 'State'], dtype='object')

### Method 2: `usecols=[<col_ints>]`

In [16]:
ufos = pd.read_csv(data_file,
                   usecols=[0, 3])

In [17]:
ufos.columns

Index(['City', 'State'], dtype='object')

## Reading a sample of rows during import with `nrows` argument

In [18]:
ufos = pd.read_csv(data_file,
                   nrows=3)

In [19]:
ufos

          City  Colors Reported Shape Reported State             Time
0       Ithaca              NaN       TRIANGLE    NY   6/1/1930 22:00
1  Willingboro              NaN          OTHER    NJ  6/30/1930 20:00
2      Holyoke              NaN           OVAL    CO  2/15/1931 14:00

## Iteration in pandas
### Iteration through a Series

In [30]:
for city in ufos.City:
    print(city)

Ithaca
Willingboro
Holyoke

### Iteration through a DataFrame with `.iterrows()`
This is similar to `enumerate` in python.

In [22]:
for index, row in ufos.iterrows():
    print(index, row.City, row.State)

0 Ithaca NY
1 Willingboro NJ
2 Holyoke CO

## Importing certain columns based on data type using `.select_dtypes()` and numpy

In [23]:
data_file = 'https://raw.githubusercontent.com/justmarkham/pandas-videos/master/data/drinks.csv'
drinks = pd.read_csv(data_file)

In [24]:
drinks.dtypes

country                          object
beer_servings                     int64
spirit_servings                   int64
wine_servings                     int64
total_litres_of_pure_alcohol    float64
continent                        object
dtype: object

In [25]:
import numpy as np

In [28]:
drinks = drinks.select_dtypes(include=[np.number])

In [29]:
drinks.dtypes

beer_servings                     int64
spirit_servings                   int64
wine_servings                     int64
total_litres_of_pure_alcohol    float64
dtype: object